.App {
  text-align: auto;
  color: white;
  
  background-color:black;
}
.col{
  color:red;
  background-color:yellow;
}
.box{
  margin:0;
  width:320;
  padding:10px;
  border:5px double gray;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.cent{
  text-align:center;
}
.opa{
  opacity: 0.3;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-background{
  background-color: yellow;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
